# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.idea/

# Spring Boot
spring-boot-starter/target/
spring-boot-sample/target/
spring-boot-project/target/
spring-boot-test/target/

# Spring Boot Data JPA
spring-boot-starter-data-jpa/target/
spring-boot-sample-data-jpa/target/
spring-boot-project-data-jpa/target/
spring-boot-test-data-jpa/target/

# Spring Boot PostgreSQL Driver
spring-boot-starter-data-jpa-postgresql/target/
spring-boot-sample-data-jpa-postgresql/target/
spring-boot-project-data-jpa-postgresql/target/
spring-boot-test-data-jpa-postgresql/target/
